<!DOCTYPE html>
<html>
<head>
	<title>COVID CARD CREATOR</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
</head>
<body>



<div class='App'>
    <header class='App-header'>
        <p><u>
          Covid Card Creator 
        </u></p>
        <div className="pre_img">
          <span><img id="imagebox" src=""></span>
        </div>
        <form action="/generate" method = "POST" enctype = "multipart/form-data">
          <label>Enter Mobile Number: </label>
          <input id="username" type="number" name="username">
		<hr><br>
		<label>Upload Your Latest Downloded Certificate from COWIN website</label>
          <input id="imageinput" type="file" name="image">
          <button name="send" id = "sendbutton">Send</button>
        </form>
			
	</header>
	<footer>
		<h4>Idea By: Vishal Kumar Shaw</h4>
		<h4>Developed By: Sanheen Sethi</h4>
		<h4>MCA Department, NIT Kurukshetra</h4>
		<h4>@OpenSource, Deploy Code: <a href="https://github.com/sanheensethi/COVID_CARD_GENERATOR">Link</a>, Colab File:<a href="https://colab.research.google.com/drive/1l-mIFz9bNbnz4OAImNW3rz6egZwANFkN?usp=sharing">File Link</a></h4>
	</footer>
</div>

</body>
</html>
