<!DOCTYPE html>
<html>
<head>
	<title>COVID CARD CREATOR</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
</head>
<body>



<div class='App'>
    <header class='App-header'>
        <p><u>
          Covid Card Creator 
        </u></p>
        <div className="pre_img">
          <span><img id="imagebox" src=""></span>
        </div>
        <form action="/generate" method = "POST" enctype = "multipart/form-data">
          <label>Enter Mobile Number: </label>
          <input id="username" type="number" name="username">
          <input id="imageinput" type="file" name="image">
          <button name="send" id = "sendbutton">Send</button>
        </form>
			
	</header>
</div>

</body>
</html>
